@font-face {
    font-family: "BebasRegular";
    src: url("../fonts/BebasRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
html {
	min-height: 100%;
	min-width: 320px;
	position: relative;
	-ms-overflow-style: scrollbar;
}
body {
	background: #fff;
	font-family: "Open Sans";
	font-weight: 400;
	overflow-x: hidden;
}
ul,
h1, h2, h3, h4, h5, h6,
p  {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a, button, label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-transition: 0.2s;
	transition: 0.2s;
}
a, button, label, input, textarea, select {
	outline: none !important;
}
button, input {
	background: transparent;
	border: none;
	padding: 0;
}
input::-webkit-input-placeholder {
    opacity: 1;
}
input::-moz-placeholder {
    opacity: 1;
}
input:focus::-webkit-input-placeholder { 
	opacity: 0; 
}
input:focus::-moz-placeholder { 
	opacity: 0; 
}
textarea::-webkit-input-placeholder {
    opacity: 1;
}
textarea::-moz-placeholder {
    opacity: 1;
}
textarea:focus::-webkit-input-placeholder { 
	opacity: 0; 
}
textarea:focus::-moz-placeholder { 
	opacity: 0; 
}
.dib {
	display: inline-block;
	vertical-align: top;
}
.black_background {
	background: rgba(0, 0, 0, 0.9);
	bottom: 0;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: -1;

	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.black_background.active {
    opacity: 1;
    z-index: 500;
}



/*----------------------------------------
				RIGHT_MENU
----------------------------------------*/


.right_menu {
	background: #292929;
	bottom: 0;
	max-width: 400px;
	min-width: 260px;
	padding: 20px 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 75%;
	z-index: -1;

	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.right_menu.active {
	z-index: 1000;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.right_menu .button_close {
	display: none;
}
.right_menu.active .button_close {
	display: block;
	left: -45px;
	position: absolute;
	top: 15px;
}
.right_menu .button_close img {
	height: auto;
	width: 25px;
}
.right_menu h6 {
	color: #878787;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}
.right_menu ul li {
	border-bottom: 1px solid #202020;
}
.right_menu ul li a {
	color: #fff;
	display: block;
	text-decoration: none;
	padding: 15px 25px;
}
.right_menu ul li a::after {
	color: #e223e0;
	content: "\f104";
	font-family: "FontAwesome";
	font-size: 20px;
	margin-left: 15px;
	opacity: 0;
	position: relative;
	right: -20%;
	top: 2px;

	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.right_menu ul li a:hover {
	background: #222;
	color: #e223e0;
}
.right_menu ul li a:hover::after {
	opacity: 1;
	right: 0;
}
.right_menu button.button_callback {
	background: #e223e0;
	border: 3px solid #e223e0;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	margin-top: 25px;
	padding: 10px 30px;
	position: relative;
	text-transform: uppercase;
}
.right_menu button.button_callback span {
	position: relative;
}
.right_menu button.button_callback::before {
	background: #292929;
	bottom: 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 0;

	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.right_menu button.button_callback:hover {
	color: #e223e0;
}
.right_menu button.button_callback:hover::before {
	width: 100%;
}



/*----------------------------------------
				HEADER
----------------------------------------*/


/*	header_up  */


.header_up {
	background: #1f2122;
}
.header_up_lang a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	padding: 10px 5px;
	text-decoration: none;
	text-transform: uppercase;
}
.header_up_lang a.active {
	background: #e223e0;
}

.header_up_phone {
	padding: 0;
}
.header_up_phone p {
	color: #fff;
	padding: 10px 0;
	font-size: 12px;
}
.header_up_phone_responsive {
	display: none;
	padding: 0 15px;
}
.header_up_phone_responsive p {
	font-size: 14px;
	padding: 0 0 10px;
}

.header_up_sign {
	font-size: 14px;
}
.header_up_sign button {
	padding: 8px 0;
}
.header_up_sign i {
	color: #e223e0;
	margin-right: 5px;
}
.header_up_sign span {
	color: #fff;
}

@media (max-width: 768px) {
	.header_up_phone span {
		display: none;
	}
}
@media (max-width: 500px) {
	.header_up_lang,
	.header_up_sign {
		width: 50%;
	}
	.header_up_lang a.active {
		background: transparent;
		color: #e223e0;
		font-weight: 700;
		text-decoration: underline;
	}
	.header_up_sign button {
		padding: 10px 0;
	}
	.header_up_phone {
		display: none;
	}
	.header_up_phone_responsive {
		display: block;
	}
}


/*	header_down  */


.header_down {
	background: #fff;
	padding: 20px 0;
}

.header_down_menu {
	margin-top: 15px;
	padding-left: 0;
}
.header_down_menu ul li {
	display: inline-block;
	margin-right: 25px;
}
.header_down_menu ul li:last-child {
	margin-right: 0;
}
.header_down_menu ul li a {
	color: #9a9a9a;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
}
.header_down_menu ul li a:hover {
	color: #000;
}
.header_down_menu_responsive {
	display: none;
	padding-left: 15px;
}

.header_down_callback {
	margin-top: 2px;
}
.header_down_callback button.button_callback {
	background: #e223e0;
	border: 3px solid #e223e0;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	padding: 10px 30px;
	position: relative;
	text-transform: uppercase;
}
.header_down_callback button.button_callback span {
	position: relative;
}
.header_down_callback button.button_callback::before {
	background: #fff;
	bottom: 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 0;

	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.header_down_callback button.button_callback:hover {
	color: #e223e0;
}
.header_down_callback button.button_callback:hover::before {
	width: 100%;
}
.header_down_callback button.button_menu {
	display: none;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 10px;
}
.header_down_callback button.button_menu span {
	margin-right: 3px;
}

@media (max-width: 992px) {
	.header_down {
		padding: 15px 0;
	}
	.header_down_menu {
		display: none;
	}
	.header_down_menu_responsive {
		display: block;
	}
}
@media (max-width: 768px) {
	.header_down {
		padding: 10px 0;
	}
	.header_down_menu_responsive {
		display: none;
	}
	.header_down_callback button.button_callback {
		display: none;
	}
	.header_down_callback button.button_menu {
		display: inline-block;
	}
}



/*----------------------------------------
				SLIDER
----------------------------------------*/


.swiper-container-1 {
    height: 100%;
    width: 100%;
}
.swiper-slide-1 {
    background-position: 50% 50%;
    background-size: cover;
    max-height: 540px;
    min-height: 540px;
    height: 100%;
}
.swiper-pagination-1 {
	bottom: 20px !important;
}
.swiper-pagination-1 .swiper-pagination-bullet {
	background: #f2f2f2;
	height: 10px;
	margin: 0 6px !important;
	opacity: 1;
	width: 10px;
}
.swiper-pagination-1 .swiper-pagination-bullet-active {
	background: #e223e0;
}
.swiper-button-1 {
	color: #fff;
	cursor: pointer;
	font-size: 25px;
	position: absolute;
	top: 45%;
	z-index: 10;

	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.swiper-button-1 i {
	background: rgba(0, 0, 0, 0.7);
	border-radius: 50%;
	height: 40px;
	line-height: 1.5;
	text-align: center;
	width: 40px;

	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.swiper-button-left-1 {
	left: 5%;
}
.swiper-button-left-1 i::before {
	margin-left: -3px;
}
.swiper-button-right-1 {
	right: 5%;
}
.swiper-button-right-1 i::before {
	margin-right: -3px;
}
.swiper-button-1:hover {
	color: #e223e0;
}
.swiper-button-1:hover i {
	background: rgba(0, 0, 0, 1);
}


@media (max-width: 1366px) {
	.swiper-slide-1 {
	    min-height: 480px;
	}
}
@media (max-width: 1200px) {
	.swiper-slide-1 {
	    min-height: 100%;
	    padding: 200px 0; 
	}
}
@media (max-width: 992px) {
	.swiper-slide-1 {
	    padding: 180px 0; 
	}
}
@media (max-width: 768px) {
	.swiper-slide-1 {
	    padding: 150px 0; 
	}
}
@media (max-width: 480px) {
	.swiper-slide-1 {
	    padding: 100px 0; 
	}
}



/*----------------------------------------
				DESCRIPTION
----------------------------------------*/


#description {
	background: url(../img/description/description_bg.png);
	padding: 80px 0;
}


.description_content p {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.7;
	padding: 0 50px;
	position: relative;
}
.description_content p::before {
	content: "“";
	font-family: Georgia;
	font-size: 72px;
	left: 0;
	line-height: 0.6;
	position: absolute;
	top: 0;
}
.description_content p::after {
	content: "”";
	font-family: Georgia;
	font-size: 72px;
	line-height: 0.6;
	position: absolute;
	right: 0;
	top: 0;
}


@media (max-width: 768px) {
	.description_content p {
		font-size: 14px;
		font-weight: 400;
		line-height: 1.5;
		padding: 0 30px;
	}
	.description_content p::before,
	.description_content p::after {
		font-size: 40px;
	}
}



/*----------------------------------------
				SERVICES
----------------------------------------*/


#services {
	display: table;
	width: 100%;
}


.services_block {
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.15);
	display: table-cell;
	padding: 80px 0;
	vertical-align: middle;
}
.services_shop {
	background: url(../img/services/shop_bg.png);
	background-position: center;
	background-size: cover;
}
.services_jewellery {
	background: url(../img/services/jewellery_bg.png);
	background-size: cover;
	background-position: center;
}
.services_block_overlay {
	background: rgba(0, 0, 0, 0.2);
	height: 100%;
	width: 100%;
}
.services_shop .services_block_content {
	float: right;
}
.services_jewellery .services_block_content {
	float: left;
}
.services_block_content {
	max-width: 570px;
	padding: 0 90px;
	text-align: left;
}
.services_block_content h3 {
	color: #fff;
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 45px;
	text-transform: uppercase;
}
.services_block_content p {
	color: #fff;
	font-size: 14px;
	font-style: italic;
	line-height: 1.8;
	margin-bottom: 40px;
}
.services_block_content a {
	border: 2px solid #fff;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	padding: 10px 22px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}
.services_block_content a span {
	position: relative;
}
.services_block_content a:hover {
	color: #e223e0;
}
.services_block_content a::before {
	content: "";
	background: #fff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 0;

	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.services_block_content a:hover::before {
	width: 100%;
}


@media (max-width: 992px) {
	.services_block {
		display: block;
		padding: 50px 0;
		text-align: center;
		width: 100%;
	}
	.services_shop .services_block_content,
	.services_jewellery .services_block_content {
		display: inline-block;
		float: none;
	}
	.services_block_content {
		padding: 0 15px;
	}
}
@media (max-width: 768px) {
	.services_block {
		padding: 40px 0;
	}
	.services_block_content {
		text-align: center;
	}
	.services_block_content h3 {
		font-size: 20px;
		margin-bottom: 30px;
	}
	.services_block_content p {
		margin-bottom: 30px;
	}
}



/*----------------------------------------
				RANGE
----------------------------------------*/


#range {
	background: #252627;
	padding: 50px 0;
}


.range_content img {
	display: block;
	height: auto;
	max-width: 100%;
}
.range_content_tile ul li {
	border: 1px solid transparent;
	display: inline-block;
	height: 100%;
	margin-bottom: 1.5%;
	margin-right: 1.5%;
	max-height: 285px;
	overflow: hidden;

	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.range_content_tile ul li:hover {
	border: 1px solid #e223e0;
}
.range_content_tile ul li.small {
	width: 32%;
}
.range_content_tile ul li.big {
	width: 66%;
}
.range_content_tile ul li:last-child {
	margin-right: 0;
}
.range_content_tile ul li img {
	display: block;
	height: auto;
	width: 100%;
}


@media (max-width: 992px) {
	.range_content_tile ul li {
		margin-bottom: 1%;
		margin-right: 1%;
	}
}
@media (max-width: 768px) {
	.range_content_tile ul {
		text-align: center;
	}
	.range_content_tile ul li {
		margin-bottom: 10px;
		max-height: 100%;
		width: 70% !important;
	}
}
@media (max-width: 480px) {
	.range_content_tile ul li {
		width: 100% !important;
	}
}



/*----------------------------------------
				INFO
----------------------------------------*/


#info {
	background: #fff;
	padding: 80px 0 0;
}


.info_content {
	margin-bottom: 60px;
}
.info_content h2 {
	color: #000;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 45px;
	text-transform: uppercase;
}
.info_content h2:first-letter {
	color: #e223e0;
}
.info_about p {
	color: #848d91;
	font-size: 14px;
	font-style: italic;
	line-height: 1.9;
	width: 90%;
}
.info_news ul li {
	margin-bottom: 10px;
}
.info_news ul li time {
	color: #afafaf;
	font-size: 12px;
	font-weight: 700;
}
.info_news ul li a {
	color: #000;
	display: block;
	font-weight: 700;
	padding: 5px 0;
	text-decoration: none;
}
.info_news ul li a:hover {
	color: #e223e0;
}


@media (max-width: 768px) {
	.info_content h2 {
		text-align: center;
	}
	.info_about p {
		width: 100%;
	}
}



/*----------------------------------------
				CLIENTS
----------------------------------------*/


#clients {
	background: #f9f9f9;
	padding: 50px 0;
}


.clients_content {
	position: relative;
}
.owl_demo {
	width: 97%;
	margin: 0 auto;
}
.owl_demo .item {
  	margin: 3px;
}
.owl_demo .item img {
  	display: block;
  	height: auto;
  	margin: 0 auto;
  	max-width: 90%;
}
.owl_button {
	cursor: pointer;
	position: absolute;
	top: 30%;
}
.owl_prev {
	left: 0;
}
.owl_next {
	right: 0;
}
.owl_button i {
	color: #d3d3d3;
	font-size: 40px;

	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.owl_button:hover i {
	color: #b51cb3;
}



/*----------------------------------------
				ADVANTAGES
----------------------------------------*/


#advantages {
	background: url(../img/advantages/advantages_bg.png);
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
	padding: 60px 0 90px;
}


.advantages_title h2 {
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 2.5px;
	margin-bottom: 60px;
	text-transform: uppercase;
}

.advantages_content_tabs {
	-webkit-column-count: 5;
	-moz-column-count: 5;
	column-count: 5;
	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	column-gap: 30px;
}
.advantages_content_tabs li {
	border: 3px solid #fff;
	display: table;
	height: 215px;
	margin-bottom: 20px;
	position: relative;
	width: 100%;

	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.advantages_content_tabs li.active {
	border-color: #e223e0;
}
.advantages_content_tabs li.active::after {
	content: "";
	border: 10px solid transparent;
	bottom: -20px;
	display: block;
	left: calc(50% - 10px);
	position: absolute;
    border-top: 10px solid #e223e0;
}
.advantages_content_tabs li a {
	display: table-cell;
	text-decoration: none;
	vertical-align: middle;
}
.advantages_content_tabs li a img {
	margin-bottom: 45px;
}
.advantages_content_tabs li a span {
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.3;
	text-transform: uppercase;
}

.advantages_content_txt {
	margin-top: 35px;
}
.advantages_content_txt p {
	color: #fff;
	font-size: 16px;
	line-height: 1.8;
}
.advantages_content_txt .tab-pane {
	display: none;
}
.advantages_content_txt .active {
	display: block;
}


@media (max-width: 992px) {
	#advantages {
		padding: 60px 0;
	}
	.advantages_content_tabs {
		-webkit-column-gap: 15px;
		-moz-column-gap: 15px;
		column-gap: 15px;
	}
	.advantages_content_tabs li {
		height: 150px;
	}
	.advantages_content_tabs li a img {
		margin-bottom: 30px;
		max-width: 30px;
	}
	.advantages_content_tabs li a span {
		font-size: 14px;
		font-weight: 400;
	}
	.advantages_content_txt {
		margin-top: 30px;
	}
	.advantages_content_txt p {
		font-size: 15px;
		line-height: 1.5;
	}
}
@media (max-width: 768px) {
	.advantages_content_tabs {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-gap: 0;
		-moz-column-gap: 0;
		column-gap: 0;
	}
	.advantages_content_tabs {
		text-align: left;
	}
	.advantages_content_tabs li {
		border-width: 1px;
		height: 50px;
		margin-bottom: 5px;
		padding-left: 20px;
	}
	.advantages_content_tabs li.active::after {
		display: none;
	}
	.advantages_content_tabs li a img {
		margin-bottom: 0;
		margin-right: 15px;
	}
	.advantages_content_tabs li a span {
		display: inline-block;
		vertical-align: middle;
	}
}
@media (max-width: 480px) {
	.advantages_content_tabs li {
		height: 40px;
	}
	.advantages_content_tabs li a img {
		max-width: 20px;
	}
	.advantages_content_tabs li a span {
		font-size: 12px;
	}
	.advantages_content_tabs li a span br {
		display: none;
	}
}



/*----------------------------------------
				FAQ
----------------------------------------*/


#faq {
	background: #fff;
	padding: 45px 0;
}


.faq_content ul {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
}
.faq_content ul li {
	border-right: 2px solid #b2b2b2;
}
.faq_content ul li:nth-child(2),
.faq_content ul li:nth-child(3) {
	text-align: center;
}
.faq_content ul li:last-child {
	text-align: center;
	border-right: none;
}
.faq_content ul li a {
	color: #b2b2b2;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
}
.faq_content ul li a:hover {
	color: #000;
}

@media (max-width: 992px) {
	.faq_content ul li {
		border-width: 1px;
	}
	.faq_content ul li a {
		font-size: 12px;
	}
}
@media (max-width: 768px) {
	#faq {
		padding: 20px 0 0;
	}
	.faq_content ul {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
	.faq_content ul li {
		text-align: center;
		margin-bottom: 20px;
		border-right: none;
	}
	.faq_content ul li::after {
		background: #b2b2b2;
		bottom: -4px;
		content: "";
		display: block;
		height: 2px;
		left: calc(50% - 12.5px);
		position: relative;
		width: 25px;
	}
}



/*----------------------------------------
				CALLBACk
----------------------------------------*/


#callback {
	background: #eff1f2;
	padding: 30px 0;
}

.callback_form form {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
}
.callback_form form input,
.callback_form form button {
	width: 100%;
	height: 50px;
}
.callback_form form input {
	background: #fff;
	color: #959595;
	font-size: 14px;
	font-weight: 700;
	padding-left: 15px;
	text-transform: uppercase;
}
.callback_form form input::-webkit-input-placeholder {
	font-weight: 700;
    color: #959595;
    font-size: 14px;
    text-transform: uppercase;
}
.callback_form form input::-moz-placeholder {
	font-weight: 700;
    color: #959595;
    font-size: 14px;
    text-transform: uppercase;
}
.callback_form form button {
	background: #e223e0;
	border: 3px solid #e223e0;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	position: relative;
	text-transform: uppercase;
}
.callback_form form button span {
	position: relative;
}
.callback_form form button::before {
	background: #eff1f2;
	bottom: 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 0;

	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.callback_form form button:hover {
	color: #e223e0;
}
.callback_form form button:hover::before {
	width: 100%;
}


@media (max-width: 768px) {
	.callback_form form {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
	.callback_form form input {
		margin-bottom: 10px;
	}
}



/*----------------------------------------
				FOOTER
----------------------------------------*/


#footer {
	background: #1f2122;
	padding: 45px 0;
  	width: 100%;
}


.footer_all h3 {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.footer_adress p {
	color: #969696;
	font-size: 14px;
	margin-bottom: 20px;
}
.footer_adress a {
	border-bottom: 1px dashed #e223e0;
	color: #e223e0;
	font-size: 14px;
	text-decoration: none;
}
.footer_adress a:hover {
	border: none;
}

.footer_contact a {
	color: #969696;
	display: table;
	font-size: 14px;
	margin-bottom: 10px;
}
.footer_contact a span {
	color: #fff;
}

.footer_social h3 {
	margin-bottom: 25px;
}
.footer_social ul li {
	display: inline-block;
	margin-right: 10px;
}
.footer_social ul li a {
	background: #e223e0;
	border-radius: 50%;
	color: #000;
	display: table-cell;
	font-size: 16px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width: 30px;
}
.footer_social ul li a:hover {
	background: #fff;
	color: #e223e0;
}

.footer_delivery form {
	max-width: 300px;
}
.footer_delivery form input {
	background: #1a1a1a;
	font-weight: 400;
	height: 35px;
	width: 85%;
	float: left;
    color: #969696;
    font-size: 14px;
    padding-left: 10px;
}
.footer_delivery form input::-webkit-input-placeholder {
	font-weight: 400;
    color: #969696;
    font-size: 14px;
}
.footer_delivery form input::-moz-placeholder {
	font-weight: 400;
    color: #969696;
    font-size: 14px;
}
.footer_delivery form button {
	background: #e223e0;
	color: #fff;
	float: left;
	font-size: 16px;
	height: 35px;
	width: 15%;
}
.footer_delivery form button:hover {
	background: #fff;
	color: #e223e0;
}


@media (max-width: 992px) {
	#footer {
		padding: 45px 0 0;
		position: static;
	}
	.footer_all {
		margin-bottom: 45px;
	}
}



/*----------------------------------------
				MAP
----------------------------------------*/


#map {
	position: relative;
}


#map_google {
	height: 500px;
	width: 100%;
}


.map_content {
	max-width: 440px;
	padding: 170px 15px 0 60px;
	position: absolute;
	top: 0;
	z-index: 2;
	color: #fff;
}
.map_content h3 {
	font-weight: 800;
	font-size: 36px;
	margin-bottom: 30px;
}
.map_content p {
	font-weight: 300;
	font-size: 20px;
	line-height: 1.7;
}


@media (max-width: 480px) {
	#map_google {
		height: 300px;
	}
	.map_content {
		padding: 75px 0 0;
		text-align: center;
	}
}



/*----------------------------------------
				CONTACTS
----------------------------------------*/


#contacts {
	background: #fff;
	padding: 100px 0;
}


.contacts_content {
	margin: 0 auto;
	max-width: 990px;
	overflow: hidden;
	width: 100%;
}

.contacts_content_phone_all {
	color: #000;
	margin-bottom: 40px;
}
.contacts_content_phone_1 h5 {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 15px;
}
.contacts_content_phone_1 p {
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 5px;
}
.contacts_content_phone_2 h5 {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 25px;
}
.contacts_content_phone_2 h6 {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 10px;
}
.contacts_content_phone_2 p {
	margin-bottom: 15px;
}

.contacts_content_form form {
	max-width: 690px;
	overflow: hidden;
}

.contacts_content_form_left {
	float: left;
	margin-right: 5%;
	width: 55%;
}
.contacts_content_form_right {
	float: right;
	width: 40%;
}
.contacts_content_form_left_txt {
	overflow: hidden;
}
.contacts_content_form_left_txt h5 {
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 15px;
	float: left;
}
.contacts_content_form_left_txt p {
	display: inline-block;
	float: right;
	font-size: 14px;
	color: #d1d5d9;
}
.contacts_content_form_left textarea {
	border: 2px solid #e5ebed;
	color: #000;
	font-size: 12px;
	font-weight: 400;
	height: 150px;
	margin-bottom: 15px;
	padding-left: 10px;
	padding-top: 10px;
	resize: none;
	width: 100%;
}
.contacts_content_form_left textarea::-webkit-input-placeholder {
   	font-weight: 400;
	font-size: 12px;
	color: #000;
}
.contacts_content_form_left textarea::-moz-placeholder {
   	font-weight: 400;
	font-size: 12px;
	color: #000;
}
.contacts_content_form_left_button input {
	background: #e9eef0;
	border-radius: 2px;
	color: #bcbcbc;
	font-size: 12px;
	padding: 10px 18px;
	text-transform: uppercase;

	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.contacts_content_form_left_button input:hover {
	background: #e1e6e8;
	color: #959595;
}
.contacts_content_form_left_button button {
	background: #f618f4;
	border-radius: 2px;
	color: #fff;
	font-size: 12px;
	margin-left: 10px;
	padding: 10px 18px;
	text-transform: uppercase;
}
.contacts_content_form_left_button button:hover {
	background: #ff4ffe;
}

.contacts_content_form_right {
	margin-top: 35px;
}
.contacts_content_form_right input {
	border: 2px solid #e5ebed;
	color: #000;
	font-size: 12px;
	font-weight: 400;
	height: 40px;
	margin-bottom: 14px;
	padding-left: 15px;
	width: 100%;
}
.contacts_content_form_right input::-webkit-input-placeholder {
   	font-weight: 400;
	font-size: 12px;
	color: #000;
}
.contacts_content_form_right input::-moz-placeholder {
   	font-weight: 400;
	font-size: 12px;
	color: #000;
}


@media (max-width: 992px) {
	.contacts_content_phone_1 {
		float: left;
	}
	.contacts_content_phone_2 {
		float: right;
	}
}
@media (max-width: 660px) {
	.contacts_content_form_right {
		display: none;
	}
	.contacts_content_form_right_responsive,
	.contacts_content_form_left {
		display: block;
		float: none;
		width: 100%;
	}
	.contacts_content_form_right_responsive {
		margin-top: 0;
	}
}
@media (max-width: 480px) {
	#contacts {
		padding: 50px 0;
	}
	.contacts_content_phone_all {
		float: none;
	}
	.contacts_content_form_left_txt p {
		display: none;
	}
}



/*----------------------------------------
				REPAIR
----------------------------------------*/


#repair {
	background: url(../img/repair/repair_bg.png);
	background-size: cover;
	padding: 155px 0;
	max-height: 540px;
}


.repair_title {
	font-size: 14px;
}
.repair_title h1 {
	color: #515151;
	font-size: 1em;
	font-weight: 700;
	letter-spacing: 4px;
	text-transform: uppercase;
	margin-bottom: 6%;
}
.repair_title h1 span {
	color: #ff14fd;
}
.repair_title h2 {
	color: #fff;
	font-size: 4.5em;
	font-weight: 700;
	line-height: 1.4;
	letter-spacing: 0.75px;
	text-transform: uppercase;
	margin-bottom: 5%;
}
.repair_title h3 {
	color: #fff;
	font-size: 1.5em;
	font-weight: 300;
	line-height: 1.7;
}


@media (max-width: 992px) {
	#repair {
		padding: 120px 0;
	}
	.repair_title {
		font-size: 12px;
	}
}
@media (max-width: 768px) {
	#repair {
		padding: 100px 0;
	}
	.repair_title {
		font-size: 10px;
	}
}
@media (max-width: 480px) {
	#repair {
		padding: 50px 0;
		background-position: 50% 100%;
	}
	.repair_title {
		font-size: 9px;
	}
	.repair_title h2 {
		font-size: 2.5em;
	}
}



/*----------------------------------------
				PRODUCTS
----------------------------------------*/


#products {
	background: #fff;
	padding: 80px 0 90px;
}


.products_content_all img {
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: 100%;
}
.products_content_all h6 {
	color: #000;
	font-size: 16px;
	font-weight: 700;
	margin: 20px 0 40px;
	text-transform: uppercase;
}
.products_content_all p {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.6;
}


@media (max-width: 768px) {
	#products {
		padding: 20px 0 40px;
	}
	.products_content_all h6 {
		margin: 5px 0 20px;
	}
}



/*----------------------------------------
			   ORDER_REPAIR
----------------------------------------*/


#order_repair {
	background: #f5f7f8;
}


.order_repair_content {
	background: url(../img/order_repair/order_repair_bg.png);
	background-repeat: no-repeat;
	padding: 100px 15px;
	margin: -10px 0 -15px;
}
.order_repair_content_txt h6 {
	color: #a4a6a9;
	font-size: 24px;
	margin-top: 15px;
	font-weight: 400;
	text-transform: uppercase;
}
.order_repair_content_button button {
	background: #e223e0;
	border-radius: 2px;
	border: 3px solid #e223e0;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	padding: 15px 40px;
	position: relative;
	text-transform: uppercase;
}
.order_repair_content_button button span {
	position: relative;
}
.order_repair_content_button button::before {
	background: #eff1f2;
	bottom: 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 0;

	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.order_repair_content_button button:hover {
	color: #e223e0;
}
.order_repair_content_button button:hover::before {
	width: 100%;
}


@media (max-width: 992px) {
	.order_repair_content {
	    padding: 50px 15px;
	}
	.order_repair_content_txt {
		margin-bottom: 30px;
	}
}
@media (max-width: 480px) {
	.order_repair_content {
		margin: 0;
	}
	.order_repair_content_txt h6 {
		font-size: 20px;
	}
}



/*----------------------------------------
			 REVIEW_REPAIR
----------------------------------------*/


#review_repair {
	background: #fff;
	padding: 120px 0 100px;
}


.review_repair_title h2 {
	color: #000;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.owl_demo_1 .owl-wrapper-outer {
	padding: 70px 0;
}
.owl_demo_1 p {
	color: #000;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.8;
	margin-bottom: 15px;
	width: 90%;
}
.owl_demo_1 h6 {
	color: #e32ae1;
	font-size: 14px;
	font-weight: 700;
}
.owl_demo_1 .owl-pagination {
	text-align: center;
}
.owl_demo_1 .owl-controls .owl-page {
    background: #e8e8e8;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin: 0 5px;
    width: 10px;
}
.owl_demo_1 .owl-controls .owl-page.active {
	background: #e32ae1;
}


@media (max-width: 768px) {
	#review_repair {
		background: #fff;
		padding: 60px 0;
	}
	.owl_demo_1 .owl-wrapper-outer {
		padding: 50px 0;
	}
}
@media (max-width: 480px) {
	.owl_demo_1 p {
		width: 100%;
	}
}



/*----------------------------------------
			 INFO_REPAIR
----------------------------------------*/


#info_repair {
	background: linear-gradient(to right, #f5f7f8 0%, #f5f7f8 50%,#eff1f2 50%, #eff1f2 100%);
	padding: 85px 0;
}


.info_repair_how {
	padding-right: 50px;
}
.info_repair_how h6 {
	color: #000;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 25px;
}
.info_repair_how p {
	font-weight: 300;
	font-size: 16px;
	line-height: 1.8;
}

.info_repair_callback {
	padding-left: 50px;
}
.info_repair_callback h6 {
	color: #000;
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 10px;
}
.info_repair_callback p {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.6;
	margin-bottom: 20px;
}
.info_repair_callback form {
	max-width: 515px;
}
.info_repair_callback form input {
	background: #fff;
	color: #a6a9ae;
	float: left;
	font-size: 14px;
	font-weight: 700;
	height: 50px;
	margin-right: 3%;
	padding-left: 15px;
	width: 65%;
}
.info_repair_callback form input::-webkit-input-placeholder {
	font-size: 14px;
	font-weight: 700;
    color: #a6a9ae;
}
.info_repair_callback form input::-moz-placeholder {
	font-size: 14px;
	font-weight: 700;
    color: #a6a9ae;
}
.info_repair_callback form button {
	background: #e223e0;
	border: 3px solid #e223e0;
	color: #fff;
	float: left;
	font-size: 12px;
	font-weight: 700;
	height: 50px;
	position: relative;
	text-transform: uppercase;
	width: 32%;
}
.info_repair_callback form button span {
	position: relative;
}
.info_repair_callback form button::before {
	background: #eff1f2;
	bottom: 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 0;

	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.info_repair_callback form button:hover {
	color: #e223e0;
}
.info_repair_callback form button:hover::before {
	width: 100%;
}


@media (max-width: 992px) {
	#info_repair {
		background: linear-gradient(to bottom, #f5f7f8 0%, #f5f7f8 50%,#eff1f2 50%, #eff1f2 100%);
		padding: 0;
	}
	.info_repair_how,
	.info_repair_callback {
		height: 50%;
		padding: 40px 15px;
	}
}
@media (max-width: 480px) {
	.info_repair_callback form input,
	.info_repair_callback form button {
		width: 100%;
		margin-right: 0;
	}
	.info_repair_callback form input {
		margin-bottom: 10px;
	}
}



/*----------------------------------------
			 	WORKSHOP
----------------------------------------*/


#workshop {
	background: url(../img/workshop/workshop_bg.png);
	background-size: cover;
	max-height: 540px;
	padding: 130px 0;
}


.workshop_title {
	font-size: 14px;
}
.workshop_title h1 {
	color: #fff;
	font-size: 3.2em;
	font-weight: 700;
	line-height: 1.4;
	text-transform: uppercase;
	margin-bottom: 5%;
}
.workshop_title h2 {
	color: #fff;
	font-size: 2.1em;
	font-weight: 300;
	line-height: 1.4;
}


@media (max-width: 1200px) {
	.workshop_title {
		font-size: 12px;
	}
}
@media (max-width: 992px) {
	#workshop {
		background-position: 50% 100%;
		padding: 100px 0;
	}
	.workshop_title {
		font-size: 10px;
	}
}
@media (max-width: 768px) {
	#workshop {
		padding: 50px 0;
	}
	.workshop_title {
		font-size: 8px;
	}
}
@media (max-width: 480px) {
	.workshop_title {
		font-size: 7px;
	}
}



/*----------------------------------------
			 WORKSHOP_PLUS
----------------------------------------*/


#workshop_plus {
	background: #fff;
	padding: 100px 0;
}


.workshop_plus_content ul {
	overflow: hidden;
	text-align: center;
}
.workshop_plus_content ul li {
	display: inline-block;
	width: 19.5%;
}
.workshop_plus_content ul li img {
	max-width: 100%;
	height: auto;
	margin-bottom: 30px;
}
.workshop_plus_content ul li p {
	color: #000;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}


@media (max-width: 992px) {
	#workshop_plus {
		padding: 50px 0 0;
	}
	.workshop_plus_content ul li {
		width: 32%;
		margin-bottom: 50px;
	}
}
@media (max-width: 700px) {
	.workshop_plus_content ul li {
		width: 49.5%;
	}
}
@media (max-width: 420px) {
	.workshop_plus_content ul li {
		width: 49%;
	}
}



/*----------------------------------------
			 	GALLERY
----------------------------------------*/


#gallery {
	background: url(../img/gallery/gallery_bg.png);
	background-size: cover;
	padding: 80px 0 40px;
	position: relative;
}


.gallery_title h2 {
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 2px;
	margin-bottom: 80px;
	text-transform: uppercase;
}


.swiper-container-2 {
	overflow: visible;
}
.swiper-slide-2 {
	opacity: 0 !important;
}
.swiper-slide-2.swiper-slide-active {
	opacity: 1 !important;
}
.swiper-slide-2 ul {
	border-spacing: 15px 7px;
	display: table;
	width: 100%;
}
.swiper-slide-2 ul li {
	display: table-cell;
}
.swiper-slide-2 ul li a {
	display: block;
	height: 100%;
	max-height: 230px;
	overflow: hidden;
	position: relative;
}
.swiper-slide-2 ul li a > img {
	display: block;
	height: 100%;
	width: 100%;
}
.swiper-slide-2 ul li a p {
	background: rgba(226, 35, 224, 0.8);
	bottom: 0;
	color: #fff;
	content: "";
	font-size: 12px;
	font-weight: 600;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: center;
	text-transform: uppercase;
	top: 0;

	-webkit-transition: 0.3s;
	transition: 0.3s
}
.swiper-slide-2 ul li a:hover p {
	opacity: 1;
}
.swiper-slide-2 ul li a p span {
	display: block;
	height: 100%;
	transform: translateY(0);

	-webkit-transition: 0.3s;
	transition: 0.3s
}
.swiper-slide-2 ul li a:hover p span {
	transform: translateY(47%);
}
.swiper-slide-2 ul li a p img {
	margin-right: 5px;
}

.swiper-pagination-2 {
	position: static;
	margin-top: 40px;
}
.swiper-pagination-2 .swiper-pagination-bullet {
	background: #f2f2f2;
	height: 10px;
	margin: 0 6px !important;
	opacity: 1;
	width: 10px;
}
.swiper-pagination-2 .swiper-pagination-bullet-active {
	background: #e223e0;
}
.swiper-button-2 {
	color: #fff;
	cursor: pointer;
	font-size: 50px;
	position: absolute;
	top: 40%;
	z-index: 10;

	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.swiper-button-2:hover {
	color: #e223e0;
}
.swiper-button-left-2 {
	left: -5%;
}
.swiper-button-right-2 {
	right: -5%;
}


@media (max-width: 992px) {
	#gallery {
		padding: 40px 0;
	}
	.gallery_title h2 {
		margin-bottom: 40px;
	}
	.swiper-slide-2 ul {
	    border-spacing: 10px 5px;
	}
	.swiper-pagination-2 {
		margin-top: 20px;
	}
	.swiper-button-2 {
		display: none;
	}
} 
@media (max-width: 768px) {
	.swiper-slide-2 ul {
		display: block;
		border-spacing: 0;
	}
	.swiper-slide-2 ul li {
	    display: inline-block;
	    vertical-align: top;
	    width: 100%;
	}
	.swiper-slide-2 ul li a {
		display: block;
		max-height: 100%;
		max-width: 300px;
		margin: 0 auto 15px;
	}
	.swiper-slide-2 ul li a > img {
		display: block;
		height: 100%;
		width: 100%;
	}
}



/*----------------------------------------
			ORDER_WORKSHOP
----------------------------------------*/


#order_workshop {
	background: #f5f7f8;
}


.order_workshop_content {
	background: url(../img/order_repair/order_repair_bg.png);
	background-repeat: no-repeat;
	padding: 100px 15px;
	margin: -10px 0 -15px;
}
.order_workshop_content_txt h6 {
	color: #a4a6a9;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.3;
	text-transform: uppercase;
}
.order_workshop_content_button button {
	background: #e223e0;
	border-radius: 2px;
	border: 3px solid #e223e0;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	padding: 15px 40px;
	position: relative;
	text-transform: uppercase;
}
.order_workshop_content_button button span {
	position: relative;
}
.order_workshop_content_button button::before {
	background: #eff1f2;
	bottom: 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 0;

	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.order_workshop_content_button button:hover {
	color: #e223e0;
}
.order_workshop_content_button button:hover::before {
	width: 100%;
}


@media (max-width: 992px) {
	.order_workshop_content {
	    padding: 50px 15px;
	}
	.order_workshop_content_txt {
		margin-bottom: 30px;
	}
	.order_workshop_content_txt h6 br {
		display: none;
	}
}
@media (max-width: 480px) {
	.order_workshop_content {
		margin: 0;
	}
	.order_workshop_content_txt h6 {
		font-size: 20px;
		text-align: center;
	}
}



/*----------------------------------------
			 REVIEW_WORKSHOP
----------------------------------------*/


#review_workshop {
	background: #fff;
	padding: 120px 0 100px;
}


.review_workshop_title h2 {
	color: #000;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.owl_demo_2 .owl-wrapper-outer {
	padding: 120px 0 70px;
}
.owl_demo_2 .owl-item {
	padding: 0 8px;
}
.workshop_comment {
	background: #f9f9f9;
	min-height: 360px;
	padding: 60px 30px;
	position: relative;
}
.workshop_comment_product {
	background: #fff;
	border: 1px solid #e0e0e0;
	height: 100px;
	padding: 8px;
	position: absolute;
	top: -60px;
	width: 105px;
}
.workshop_comment_product img {
	display: block;
	height: auto;
	max-width: 100%;
}
.workshop_comment p {
	color: #000;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.8;
	margin-bottom: 20px;
	overflow: hidden;
}
.workshop_comment h6 {
	color: #e32ae1;
	font-size: 14px;
	font-weight: 700;
}
.owl_demo_2 .owl-pagination {
	text-align: center;
}
.owl_demo_2 .owl-controls .owl-page {
    background: #e8e8e8;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin: 0 5px;
    width: 10px;
}
.owl_demo_2 .owl-controls .owl-page.active {
	background: #e32ae1;
}


@media (max-width: 768px) {
	#review_workshop {
		background: #fff;
		padding: 60px 0;
	}
	.owl_demo_2 .owl-wrapper-outer {
		padding: 100px 0 50px;
	}
	.workshop_comment {
		min-height: 100%;
	}
}



/*----------------------------------------
			 MODAL_ORDER
----------------------------------------*/


.modal_order .modal-dialog {
	max-width: 750px;
	width: 100%;
}
.modal_order .modal-content {
	border-radius: 0;
	padding: 40px 60px;
	position: relative;
}
.modal_order .modal_header button {
	background: #e9e9e9;
	height: 35px;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
}
.modal_order .modal_header button img {
	width: 15px;
	height: auto;
}
.modal_order .modal_header button:hover {
	background: #d9d9d9;
}
.modal_order .modal_header h6 {
	color: #000;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.modal_order .modal_header p {
	color: #989ba0;
	font-size: 14px;
	line-height: 1.8;
}

.modal_order .modal_body {
	margin-top: 25px;
}
.modal_order .modal_body form > input {
	border-bottom: 3px solid #e2e6ea;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	height: 50px;
	position: relative;
	margin-bottom: 25px;
	width: 100%;

	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.modal_order .modal_body form > input:focus {
	border-bottom: 3px solid #e433e2;
}
.modal_order .modal_body form > input::-webkit-input-placeholder {
    color: #000;
	font-size: 14px;
	font-weight: 400;
}
.modal_order .modal_body form > input::-moz-placeholder {
    color: #000;
	font-size: 14px;
	font-weight: 400;
}
.modal_order .modal_body_type {
	margin-top: 15px;
}
.modal_order .modal_body form button {
	background: #e433e2;
	border-radius: 3px;
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: 700;
	height: 55px;
	margin-top: 50px;
	text-transform: uppercase;
	width: 100%;
}
.modal_order .modal_body form button:hover {
	background: #ff4ffe;
}
.modal_body_type label {
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	margin-right: 25px;
	vertical-align: middle;
}
.modal_body_type label:last-child {
	margin-right: 0;
}
.modal_body_type label input {
	margin: 0;
	vertical-align: middle;
	margin-right: 5px;
}
.modal_body_type label img {
	margin-right: 5px;
}
.modal_body_type label span {
	font-size: 13px;
}


@media (max-width: 768px) {
	.modal_order .modal-dialog {
		margin: 5% 15px;
		max-width: 100%;
		width: auto;
	}
	.modal_order .modal-content {
		padding: 30px 60px;
	}
	.modal_order .modal_body form button {
		margin-top: 25px;
	}
	.modal_body_type label {
		margin-bottom: 10px;
		margin-right: 15px;
	}
	.modal_body_type label:first-child {
		margin-bottom: 15px;
		margin-right: 0;
		width: 100%;
	}
}
@media (max-width: 600px) {
	.modal_order .modal-content {
		padding: 30px;
	}
}
@media (max-width: 480px) {
	.modal_order .modal-content {
		padding: 20px 30px;
	}
	.modal_order .modal_header button {
		background: #e9e9e9;
		height: 35px;
		position: absolute;
		right: 0;
		top: 0;
		width: 40px;
	}
	.modal_order .modal_header button img {
		width: 15px;
		height: auto;
	}
	.modal_order .modal_header h6 {
		font-size: 20px;
		margin-bottom: 10px;
	}
	.modal_order .modal_header p {
		font-size: 12px;
		line-height: 1.4;
	}
	.modal_order .modal_body {
		margin-top: 10px;
	}
	.modal_order .modal_body form > input {
		margin-bottom: 10px;
	}
	.modal_order .modal_body form button {
		height: 50px;
	}
}



/*----------------------------------------
			 MODAL_CALLBACK
----------------------------------------*/


.modal_callback .modal-dialog {
	max-width: 700px;
	width: 100%;
}
.modal_callback .modal-content {
	border-radius: 0;
	padding: 35px 50px;
	position: relative;
}
.modal_callback .modal_header button {
	background: #e9e9e9;
	height: 35px;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
}
.modal_callback .modal_header button img {
	width: 15px;
	height: auto;
}
.modal_callback .modal_header button:hover {
	background: #d9d9d9;
}
.modal_callback .modal_header h6 {
	color: #000;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.modal_callback .modal_header p {
	color: #989ba0;
	font-size: 14px;
	line-height: 1.8;
}

.modal_callback .modal_body {
	margin-top: 25px;
}
.modal_callback .modal_body form > input {
	border-bottom: 3px solid #e2e6ea;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	height: 50px;
	position: relative;
	margin-bottom: 25px;
	width: 100%;

	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.modal_callback .modal_body form > input:focus {
	border-bottom: 3px solid #e433e2;
}
.modal_callback .modal_body form > input::-webkit-input-placeholder {
    color: #000;
	font-size: 14px;
	font-weight: 400;
}
.modal_callback .modal_body form > input::-moz-placeholder {
    color: #000;
	font-size: 14px;
	font-weight: 400;
}
.modal_callback .modal_body form button {
	background: #e433e2;
	border-radius: 3px;
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: 700;
	height: 55px;
	margin-top: 15px;
	text-transform: uppercase;
	width: 100%;
}
.modal_callback .modal_body form button:hover {
	background: #ff4ffe;
}


@media (max-width: 768px) {
	.modal_callback .modal-dialog {
		margin: 5% 15px;
		max-width: 100%;
		width: auto;
	}
	.modal_callback .modal-content {
		padding: 30px 45px;
	}
	.modal_body_type p {
		margin-bottom: 10px;
		margin-right: 15px;
	}
	.modal_body_type p:first-child {
		margin-bottom: 15px;
		margin-right: 0;
		width: 100%;
	}
	.modal_body_type p:last-child {
		margin-bottom: 0;
	}
}
@media (max-width: 600px) {
	.modal_callback .modal-content {
		padding: 30px;
	}
}
@media (max-width: 480px) {
	.modal_callback .modal-content {
		padding: 20px 30px;
	}
	.modal_callback .modal_header h6 {
		font-size: 20px;
		margin-bottom: 10px;
	}
	.modal_callback .modal_header p {
		font-size: 12px;
		line-height: 1.4;
	}
	.modal_callback .modal_body {
		margin-top: 10px;
	}
	.modal_callback .modal_body form > input {
		margin-bottom: 10px;
	}
	.modal_callback .modal_body form button {
		height: 50px;
	}
}


/*----------------------------------------
			 MODAL_EXCLUSIVE
----------------------------------------*/


.modal_exclusive .modal-dialog {
	max-width: 700px;
	width: 100%;
}
.modal_exclusive .modal-content {
	border-radius: 0;
	padding: 35px 50px;
	position: relative;
}
.modal_exclusive .modal_header {
	font-size: 14px;
}
.modal_exclusive .modal_header button {
	background: #e9e9e9;
	height: 35px;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
}
.modal_exclusive .modal_header button img {
	width: 15px;
	height: auto;
}
.modal_exclusive .modal_header button:hover {
	background: #d9d9d9;
}
.modal_exclusive .modal_header h2 {
	color: #000;
	font-size: 1.8em;
	font-weight: 700;
	margin-bottom: 2em;
}
.modal_exclusive .modal_header h3 {
	color: #f427f2;
	font-size: 3.5em;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 1em;
}
.modal_exclusive .modal_body {
	border-top: 1px solid #eef3f6;
	padding: 30px 0 0;
}
.modal_exclusive .modal_body p {
	color: #989ba0;
	font-size: 14px;
	font-weight: 400;
}


@media (max-width: 850px) {
	.modal_exclusive .modal-dialog {
		margin: 5% 15px;
		max-width: 100%;
		width: auto;
	}
}
@media (max-width: 768px) {
	.modal_exclusive .modal_header {
		font-size: 13px;
	}
}
@media (max-width: 600px) {
	.modal_exclusive .modal-content {
		padding: 40px;
	}
}
@media (max-width: 480px) {
	.modal_exclusive .modal-content {
		padding: 20px 30px;
	}
	.modal_exclusive .modal_header {
		font-size: 11px;
	}
	.modal_exclusive .modal_header h2 {
		margin-bottom: 1em;
	}
	.modal_exclusive .modal_header h3 {
		margin-bottom: 1em;
	}
}



/*----------------------------------------
			 MODAL_THANK
----------------------------------------*/


.modal_thank .modal-dialog {
	max-width: 500px;
	width: 100%;
}
.modal_thank .modal-content {
	border-radius: 0;
	padding: 35px;
	position: relative;
}
.modal_thank .modal_header {
	font-size: 14px;
}
.modal_thank .modal_header button {
	background: #e9e9e9;
	height: 35px;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
}
.modal_thank .modal_header button img {
	width: 15px;
	height: auto;
}
.modal_thank .modal_header button:hover {
	background: #d9d9d9;
}
.modal_thank .modal_header h2 {
	color: #f427f2;
	font-size: 2em;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 1em;
}
.modal_thank .modal_header h3 {
	color: #000;
	font-size: 1.2em;
	font-weight: 400;
}
.modal_thank .modal_body {
	border-top: 1px solid #eef3f6;
	padding: 30px 0 0;
}
.modal_thank .modal_body p {
	color: #989ba0;
	font-size: 14px;
	font-weight: 400;
}


@media (max-width: 850px) {
	.modal_thank .modal-dialog {
		margin: 5% 15px;
		max-width: 100%;
		width: auto;
	}
}
@media (max-width: 768px) {
	.modal_thank .modal_header {
		font-size: 13px;
	}
}
@media (max-width: 480px) {
	.modal_thank .modal-content {
		padding: 20px 30px;
	}
	.modal_thank .modal_header {
		font-size: 11px;
	}
	.modal_thank .modal_header h2 {
		margin-bottom: 1em;
	}
	.modal_thank .modal_header h3 {
		margin-bottom: 1em;
	}
}



/*----------------------------------------
			 MODAL_INFO
----------------------------------------*/


.modal_info .modal-dialog {
	max-width: 700px;
	width: 100%;
}
.modal_info .modal-content {
	border-radius: 0;
	padding: 35px 50px;
	position: relative;
}
.modal_info .modal_header button {
	background: #e9e9e9;
	height: 35px;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
}
.modal_info .modal_header button img {
	width: 15px;
	height: auto;
}
.modal_info .modal_header button:hover {
	background: #d9d9d9;
}
.modal_info .modal_header h2 {
	color: #e433e2;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}
.modal_info .modal-body p {
	color: #000;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
	margin-bottom: 20px;
}
.modal_info .modal-body ul {
	padding-left: 12px;
}
.modal_info .modal-body ul li {
	color: #111;
	font-size: 14px;
	font-weight: 400;
	list-style: disc;
	margin-bottom: 10px;
}


@media (max-width: 850px) {
	.modal_info .modal-dialog {
		margin: 5% 15px;
		max-width: 100%;
		width: auto;
	}
}
@media (max-width: 768px) {
	.modal_info .modal_header {
		font-size: 13px;
	}
}
@media (max-width: 600px) {
	.modal_info .modal-content {
		padding: 40px;
	}
}
@media (max-width: 480px) {
	.modal_info .modal-content {
		padding: 20px 30px;
	}
	.modal_info .modal_header {
		font-size: 11px;
	}
	.modal_info .modal_header button {
		height: 35px;
		width: 40px;
	}
	.modal_info .modal_header button img {
		width: 15px;
	}
	.modal_info .modal_header h2 {
		margin-bottom: 1em;
	}
	.modal_info .modal_header h3 {
		margin-bottom: 1em;
	}
}



/*----------------------------------------
			 	MAKING
----------------------------------------*/


.making_title {
	background: linear-gradient(to right, #f430f2 0%, #f430f2 50%, #e123df 50%, #e123df 100%);
	padding: 10px 0;
}
.making_title h2 {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}


.making_content {
	background: linear-gradient(to right, #2f333a 0%, #2f333a 50%, #2a2d34 50%, #2a2d34 100%);
	padding: 80px 0;
}
.making_content h3 {
	color: #fff;
	font-size: 24px;
	font-weight: 800;
	letter-spacing: 0.25px;
	text-transform: uppercase;
}

.making_content_all ul {
	margin-top: 50px;
}
.making_content_all ul li {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 40%;
}
.making_content_all ul li:last-child {
	width: 18%;
}
.making_content_all ul li::after {
	content: "";
	background: url(../img/making/arrow.png);
	display: inline-block;
	height: 16px;
	position: absolute;
	right: 50px;
	top: 30px;
	width: 22px;
}
.making_content_all ul li:last-child::after {
	display: none;
}
.making_content_all ul li span {
	color: #e223e0;
	display: inline-block;
	font-family: "BebasRegular";
	font-size: 45px;
	letter-spacing: 0.2px;
	line-height: 1.3;
	margin-right: 10px;
	vertical-align: middle;
}
.making_content_all ul li img {
	display: inline-block;
}
.making_content_all ul li p {
	color: #fff;
	display: block;
	font-size: 14px;
	letter-spacing: 0.2px;
}

.making_content_catalog {
	padding-right: 50px;
}
.making_content_catalog h3 {
	text-align: right;
}
.making_content_catalog button {
	border-radius: 25px;
	border: 3px solid #3d414b;
	color: #e223e0;
	display: inline-block;
	float: right;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.2px;
	margin-top: 50px;
	padding: 12px 35px;
	text-transform: uppercase;
}
.making_content_catalog button:hover {
	border-color: #e223e0;
	color: #fff;
}

.making_content_exclusive {
	padding-left: 50px;
}
.making_content_exclusive h3 {
	text-align: left;
}
.making_content_exclusive button {
	background: #393d46;
	border-radius: 25px;
	border: 3px solid #393d46;
	color: #fff;
	display: inline-block;
	float: left;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.2px;
	margin-top: 50px;
	padding: 12px 35px;
	text-transform: uppercase;
}
.making_content_exclusive button:hover {
	background: #fff;
	border-color: #fff;
	color: #e223e0;
}


@media (max-width: 992px) {
	.making_content {
		background: linear-gradient(to bottom, #2f333a 0%, #2f333a 50%, #2a2d34 50%, #2a2d34 100%);
		padding: 0;
	}
	.making_content_all {
		height: 50%;
		padding: 50px 15px;
		text-align: center;
	}
	.making_content_all h3 {
		text-align: center;
	}
	.making_content_all ul {
		margin: 50px auto 0;
		max-width: 600px;
		text-align: center;
	}
	.making_content_all ul li {
		text-align: left;
	}
	.making_content_all button {
		float: none;
	}
}
@media (max-width: 768px) {
	.making_content_all ul li {
		text-align: center;
		width: 32.5% !important;
	}
	.making_content_all ul li::after {
		display: none;
	}
}
@media (max-width: 460px) {
	.making_content_all {
		padding: 40px 15px;
	}
	.making_content_all ul,
	.making_content_all button {
		margin-top: 40px;
	}
	.making_content_all ul li {
		width: 32.3% !important;
	}
	.making_content_all ul li span {
		font-size: 36px;
	}
	.making_content_all ul li img {
		height: 28px;
	}
	.making_content_all ul li p {
		font-size: 12px;
	}
}



/*----------------------------------------
			 	CATALOG
----------------------------------------*/


#catalog {
	background: #fff;
	padding: 90px 0;
}


.catalog_title h2 {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 2px;
	margin-bottom: 50px;
	text-transform: uppercase;
}

.catalog_constructor_title {
	margin-bottom: 20px;
}
.catalog_constructor_title p {
	color: #adb5b9;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	margin-right: 15px;
}
.catalog_constructor_title p:first-letter {
	color: #000;
}
.catalog_constructor_title h6 {
	color: #000;
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

.catalog_contsructor_slider {
	margin-top: 25px;
}
.swiper-slide-3 {
	overflow: hidden;
}
.swiper-slide-3 ul {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
}
.swiper-slide-3 ul li {
	margin-bottom: 18px;
}
.swiper-slide-3 ul li a {
	border-radius: 2px;
	border: 1px solid rgba(153, 153, 153, 0.1);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
	color: #000;
	cursor: pointer;
	display: table;
	font-size: 14px;
	font-weight: 400;
	height: 65px;
	text-decoration: none;
	width: 100%;
}
.swiper-slide-3 ul li a:hover {
	border-color: #f630f4;
	box-shadow: 0px 10px 20px 0px rgba(246, 48, 244, 0.2);
}
.swiper-slide-3 ul li a span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.swiper-slide-3 ul li a .slide_img {
	background: #fff;
	display: table-cell;
	height: 65px;
	vertical-align: middle;
	width: 80px;
	min-width: 80px;
}
.swiper-slide-3 ul li a .slide_img img {
	display: block;
	height: auto;
	margin: 0 auto;
	max-height: 65px;
	max-width: 100%;
}
.swiper-slide-3 ul li a .slide_txt {
	background: #f3f6f8;
	color: #000;
	display: table-cell;
	font-size: 14px;
	max-width: 110px;
	overflow: hidden;
	padding-left: 20px;
	text-align: left;
	text-overflow: ellipsis;
	vertical-align: middle;
}

.catalog_contsructor_slider_right {
	padding-top: 40px;
}
.catalog_contsructor_slider_right form {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 12px;
	-moz-column-gap: 12px;
	column-gap: 12px;
}
.slider_select {
	margin-bottom: 20px;
}
.slider_select h6 {
	color: #a9b0b4;
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 10px;
}
.slider_select p {
	display: table;
	height: 40px;
	width: 100%;
}
.slider_select p span {
	background: #d7dadc;
	color: #96989a;
	display: table-cell;
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
	width: 45px;
	min-width: 45px;
}
.slider_select p span.check {
	background: #f630f4;
	color: #fff;
	display: none;
	font-size: 18px;
}
.slider_select p input {
	background: #f3f6f8;
	display: table-cell;
	height: 40px;
	max-width: 129px;
	overflow: hidden;
	padding-left: 15px;
	text-align: left;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
	width: 100%;
}
.catalog_contsructor_slider_right button {
	border-radius: 25px;
	border: 2px solid #e8edf0;
	font-size: 12px;
	font-weight: 700;
	height: 45px;
	margin-top: 25px;
	text-transform: uppercase;
	width: 100%;
}
.catalog_contsructor_slider_right button:hover {
	background: #f630f4;
	border-color: #f630f4;
	color: #fff;
}

.catalog_contsructor_result {
	margin-top: 50px;
	display: none;
}
.catalog_contsructor_result ul {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	column-gap: 40px;
}
.catalog_contsructor_result ul li {
	margin-bottom: 40px;
}
.catalog_contsructor_result ul li a {
	border: 1px solid transparent;
	display: block;
}
.catalog_contsructor_result ul li a:hover {
	border-color: #f630f4;
}
.catalog_contsructor_result ul li a img {
	display: block;
	height: auto;
	max-width: 100%;
}


.catalog_contsructor_responsive_select {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	column-gap: 10px;
}
.catalog_contsructor_responsive_select select {
	margin-bottom: 10px;
	width: 100%;
}
.catalog_contsructor_responsive button {
	border-radius: 25px;
	border: 2px solid #e8edf0;
	font-size: 12px;
	font-weight: 700;
	height: 45px;
	margin-top: 10px;
	text-transform: uppercase;
	width: 100%;
}
.catalog_contsructor_responsive button:hover {
	background: #f630f4;
	border-color: #f630f4;
	color: #fff;
}


@media (max-width: 1200px) {
	.slider_select p input {
		max-width: 96px;
	}
}
@media (max-width: 992px) {
	.slider_select p input {
		max-width: 100%;
	}
}
@media (max-width: 768px) {
	#catalog {
		padding: 50px 0;
	}
	.catalog_title h2 {
		margin-bottom: 20px;
	}
	.catalog_contsructor_result ul {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		-webkit-column-gap: 20px;
		-moz-column-gap: 20px;
		column-gap: 20px;
	}
	.catalog_contsructor_result ul li {
		margin-bottom: 20px;
	}
	.catalog_contsructor_slider_right {
		padding-top: 20px;
	}
}
@media (max-width: 660px) {
	.swiper-slide-3 ul {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 15px;
		-moz-column-gap: 15px;
		column-gap: 15px;
	}
	.swiper-slide-3 ul li {
		margin-bottom: 15px;
	}
	.catalog_contsructor_result ul {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		-webkit-column-gap: 15px;
		-moz-column-gap: 15px;
		column-gap: 15px;
	}
	.catalog_contsructor_result ul li {
		margin-bottom: 15px;
	}
}
@media (max-width: 460px) {
	.catalog_contsructor_slider_left,
	.catalog_contsructor_slider_right {
		display: none;
	}
	.catalog_contsructor_responsive {
		display: block;
	}
	.catalog_contsructor_result ul {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 10px;
		-moz-column-gap: 10px;
		column-gap: 10px;
	}
	.catalog_contsructor_result ul li {
		margin-bottom: 10px;
	}
}



/*----------------------------------------
			 	EXCLUSIVE
----------------------------------------*/


#exclusive {
	background: #f9f9f9;
	padding-bottom: 90px;
	position: relative;
}


.exclusive_title {
	margin-top: -18px;
}
.exclusive_title img {
	margin-bottom: 50px;
}
.exclusive_title h2 {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 2px;
	margin-bottom: 50px;
	text-transform: uppercase;
}


.exclusive_constructor_title {
	margin-bottom: 20px;
}
.exclusive_constructor_title p {
	color: #adb5b9;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	margin-right: 15px;
}
.exclusive_constructor_title p:first-letter {
	color: #000;
}
.exclusive_constructor_title h6 {
	color: #000;
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

.exclusive_contsructor_slider {
	margin-top: 25px;
}
.swiper-slide-4 {
	overflow: hidden;
}
.swiper-slide-4 ul {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
}
.swiper-slide-4 ul li {
	margin-bottom: 18px;
}
.swiper-slide-4 ul li a {
	border-radius: 2px;
	border: 1px solid rgba(153, 153, 153, 0.1);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
	color: #000;
	cursor: pointer;
	display: table;
	font-size: 14px;
	font-weight: 400;
	height: 65px;
	text-decoration: none;
	width: 100%;
}
.swiper-slide-4 ul li a:hover {
	border-color: #f630f4;
	box-shadow: 0px 10px 20px 0px rgba(246, 48, 244, 0.2);
}
.swiper-slide-4 ul li a span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.swiper-slide-4 ul li a .slide_img {
	background: #fff;
	display: table-cell;
	height: 65px;
	vertical-align: middle;
	width: 80px;
	min-width: 80px;
}
.swiper-slide-4 ul li a .slide_img img {
	display: block;
	height: auto;
	margin: 0 auto;
	max-height: 65px;
	max-width: 100%;
}
.swiper-slide-4 ul li a .slide_txt {
	background: #f3f6f8;
	color: #000;
	display: table-cell;
	font-size: 14px;
	max-width: 110px;
	overflow: hidden;
	padding-left: 20px;
	text-align: left;
	text-overflow: ellipsis;
	vertical-align: middle;
}

.exclusive_contsructor_slider_right {
	padding-top: 40px;
}
.exclusive_contsructor_slider_right form {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 12px;
	-moz-column-gap: 12px;
	column-gap: 12px;
}
.slider_select {
	margin-bottom: 20px;
}
.slider_select h6 {
	color: #a9b0b4;
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 10px;
}
.slider_select p {
	display: table;
	height: 40px;
	width: 100%;
}
.slider_select p span {
	background: #d7dadc;
	color: #96989a;
	display: table-cell;
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
	width: 45px;
	min-width: 45px;
}
.slider_select p span.check {
	background: #f630f4;
	color: #fff;
	display: none;
	font-size: 18px;
}
.slider_select p input {
	background: #f3f6f8;
	display: table-cell;
	height: 40px;
	max-width: 129px;
	overflow: hidden;
	padding-left: 15px;
	text-align: left;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
	width: 100%;
}
.exclusive_contsructor_slider_right button {
	border-radius: 25px;
	border: 2px solid #e8edf0;
	font-size: 12px;
	font-weight: 700;
	height: 45px;
	margin-top: 25px;
	text-transform: uppercase;
	width: 100%;
}
.exclusive_contsructor_slider_right button:hover {
	background: #f630f4;
	border-color: #f630f4;
	color: #fff;
}


.sslide-5 form {
	max-width: 625px;
}
.sslide-5 .exclusive_constructor_img {
	overflow: hidden;
}
.sslide-5 .exclusive_constructor_img input {
	border: 2px solid #d0d3d3;
	cursor: pointer;
	float: left;
	height: 40px;
	padding-left: 15px;
	text-align: left;
	width: 75%;
}
.sslide-5 .exclusive_constructor_img button {
	border-bottom: 2px dashed #d0d3d3;
	border-right: 2px dashed #d0d3d3;
	border-top: 2px dashed #d0d3d3;
	float: left;
	height: 40px;
	width: 25%;
	font-size: 13px;
}
.sslide-5 .exclusive_constructor_img button i {
	margin-right: 5px;
}

.sslide-5 .exclusive_constructor_txt {
	overflow: hidden;
	margin-top: 25px;
}
.sslide-5 .exclusive_constructor_txt h6 {
	color: #000;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 15px;
}
.sslide-5 .exclusive_constructor_txt_left {
	width: 48%;
	float: left;
}
.sslide-5 .exclusive_constructor_txt_left input {
	border: 2px solid #d0d3d3;
	height: 45px;
	margin-bottom: 15px;
	padding-left: 15px;
	width: 100%;
}
.sslide-5 .exclusive_constructor_txt_right {
	width: 48%;
	float: right;
}
.sslide-5 .exclusive_constructor_txt_right textarea {
	background: transparent;
	border: 2px solid #d0d3d3;
	height: 166px;
	padding-left: 15px;
	padding-top: 10px;
	resize: none;
	width: 100%;
}



.exclusive_contsructor_responsive_select {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	column-gap: 10px;
}
.exclusive_contsructor_responsive_select select {
	margin-bottom: 10px;
	width: 100%;
}
.exclusive_contsructor_responsive button.exclusive_button {
	border-radius: 25px;
	border: 2px solid #e8edf0;
	font-size: 12px;
	font-weight: 700;
	height: 45px;
	margin-top: 25px;
	text-transform: uppercase;
	width: 100%;
}
.exclusive_contsructor_responsive button.exclusive_button:hover {
	background: #f630f4;
	border-color: #f630f4;
	color: #fff;
}


@media (max-width: 1200px) {
	.slider_select p input {
		max-width: 96px;
	}
}
@media (max-width: 992px) {
	.slider_select p input {
		max-width: 100%;
	}
}
@media (max-width: 768px) {
	#catalog {
		padding: 50px 0;
	}
	.catalog_title h2 {
		margin-bottom: 20px;
	}
	.exclusive_contsructor_slider_right {
		padding-top: 20px;
	}
}
@media (max-width: 660px) {
	.swiper-slide-4 ul {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 15px;
		-moz-column-gap: 15px;
		column-gap: 15px;
	}
	.swiper-slide-4 ul li {
		margin-bottom: 15px;
	}
}
@media (max-width: 460px) {
	.exclusive_contsructor_slider_left,
	.exclusive_contsructor_slider_right {
		display: none;
	}
	.exclusive_contsructor_responsive {
		display: block;
	}
	.sslide-5 {
		margin-top: 35px;
	}
	.sslide-5 .exclusive_constructor_img input {
		width: 65%;
	}
	.sslide-5 .exclusive_constructor_img button {
		width: 35%;
	}
	.sslide-5 .exclusive_constructor_txt_left,
	.sslide-5 .exclusive_constructor_txt_right {
		width: 100%;
		float: none;
	}
}







.cbalink {
	display: none;
}